/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run sanger-tol/zippypretext -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/
process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {

    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    hicmap      = "https://tolit.cog.sanger.ac.uk/test-data/Amanita_rubescens/assembly/gfAmaRube1.bin"
    input       = "https://tolit.cog.sanger.ac.uk/test-data/Amanita_rubescens/assembly/gfAmaRube1.fa"
    idxfile     = "https://tolit.cog.sanger.ac.uk/test-data/Amanita_rubescens/assembly/gfAmaRube1.fa.fai"
    sample      = "gfAmaRube1Test"
    agp         = "https://tolit.cog.sanger.ac.uk/test-data/Amanita_rubescens/assembly/gfAmaRube1_pretext.agp"
}
